.all {
  display: flex;
  width: 100%;
}
.attraction-content {
  padding: 15px;
  text-align: right;
  background-color: #003b95;
  color: white;
  position: relative;
  top: -15px;
}
.asinun {
  width: 220px;
  border-radius: 30px;
  padding: 40px;
  position: fixed;
  right: 0rem;
  position: absolute;
  color: antiquewhite;
}
.ul-dest {
  //   width: calc(100% - 300px);
  width: 80em;
  display: flex;
  flex-wrap: wrap;
}
.li {
  width: 500px;
  margin: 2vw;
  list-style-type: none;
}
.attraction-content {
  background-color: #003b95;
  color: white;
  position: relative;
  top: 0px;
  ///??? למה אין רווח רק כשיש בורגר
  border: 1px solid #003b95;
}
