.ul-dest{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin:auto;//למה לא שם את הכל באמצע ??
}
.li{
    // איך יתכן שאין הבדל בין פדינג למרגינג ???
 margin: 2vw;
}
.attraction-content{
    background-color: #003b95;
    color: white;
    position: relative;
    top:0px;
    ///??? למה אין רווח רק כשיש בורגר
     border: 1px solid  #003b95;
}