.li{ 
    margin: 2vw;
}
.ul{ list-style-type: none;
    display:flex;
    flex-wrap: wrap;
   
}
.x{
    border: none;
    font-size: large;
 //    לסדר מרגינ זה לא טוב במסכים קטנים.....
 // ולמה כרב מרגינ אוטו לא שם באמצע ???? !!!!
    margin-left: 14vw;
 //    margin: auto;
} 
.img{
    z-index: 0;
    width: 100px;
    height: 80px;
    border-radius: 15px 15px 5px 5px;
    // z-index: 1;
}
.li-item{ 
    color: rgb(233, 190, 190);
    // border-radius: 15px 15px 5px 5px;
     margin: 20px;
     min-width: 100px;
     min-height: 100px;
     max-width: 100px;
     max-height: 100px;
}
.li-pressed-item{
    opacity: 0.6;
    background-color: deepskyblue;
    z-index: 2;
}
.p{
    margin: 0px;
}
.ul-item{
    min-height: 400px;
    // width: fit-content;
    width: 1200px;
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
}

// .css-1t4vnk2-MuiDialogContent-root {
//     height: 257px; //30vw the biggest
// }

