.delete-icon{
//    position:absolute;
//    top:20rem;
//    left: 25rem;
// padding: 5px;
// border-radius:  4px 0px 0px 4px;
// border: 1px solid rgba(25, 118, 210, 0.5);
// margin: 0px;
}
.delete-btn{
    // position:absolute;
    // top: 5rem;
    // left: 40rem; 
}
.wrapOptions{
   position:fixed;
   top:20rem;
   left: 4rem;
   padding: 0px;
    // background-color: aqua;
    display: flex;
    // border: 2px solid darkolivegreen;
}
.css-1knaqv7-MuiButtonBase-root-MuiButton-root {
    font-size: 1.2rem;
}
.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
border-radius:  0px 4px 4px 0px;
// background-color: aquamarine;
}
.css-en6999-MuiButtonBase-root-MuiIconButton-root {
    margin: 0px;
}