
.ii{
    color: blueviolet;
}

.css-1bjk3jo-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected {
    /* color: #ffffff !important ; */  
}
Link{
    text-decoration: none;
    background-color: blue;
    /* text-underline-offset: unset; */

}
.css-qxh7fn{
    margin: auto !important;
    width: 100vw !important;

} 
.nav-bar{
    /* margin-bottom: 5px; */
}
.css-16lloyr-MuiBottomNavigation-root {
    /* background-color: mediumslateblue !important; */
    height: 191px !important;
    margin-bottom: -70px !important;

}

.css-1bjk3jo-MuiButtonBase-root-MuiBottomNavigationAction-root{
height: 8vh !important;
/* margin-top: 1vw !important; */
} 
.css-imwso6-MuiBottomNavigationAction-label{
    font-size: 22px !important;
}
/* .avatar{
    margin: auto;
    
} */
/* .private{
    margin-right: 5vw;
} */