.ii {
    color: blueviolet;
}

Link {
    text-decoration: none;
    background-color: blue;
    /* text-underline-offset: unset; */

}

.css-qxh7fn {
    margin: auto !important;
    width: 100vw !important;

}

.css-16lloyr-MuiBottomNavigation-root {
    /* background-color: mediumslateblue !important; */
    height: 191px !important;
    margin-bottom: -70px !important;

}

.css-1bjk3jo-MuiButtonBase-root-MuiBottomNavigationAction-root {
    height: 8vh !important;
    /* margin-top: 1vw !important; */
}

.css-imwso6-MuiBottomNavigationAction-label {
    font-size: 22px !important;
}

/* .avatar{
    margin: auto;
    
} */
/* .private{
    margin-right: 5vw;
} */
.e20caabacb {
    -webkit-padding-start: var(--bui_spacing_4x);
    -webkit-padding-end: var(--bui_spacing_4x);
    padding-inline-end: var(--bui_spacing_4x);
    padding-inline-start: var(--bui_spacing_4x);
    background-color: rgb(87, 87, 240);
}

/* .b2c0e7d253 .d7ba686b8a:not(:first-child) {
    -webkit-padding-start: var(--bui_spacing_1x);
    padding-inline-start: var(--bui_spacing_1x);
} */

.f7a80ddfd4 .b2c0e7d253 .f44d43bbc4,
.f7a80ddfd4 .b2c0e7d253 .fa030f4cc2 {
    color: #fafcff;
}

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.headers {
    content: "";
    background: #003b95;
    height: 159px;
    width: 100%;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    color: white;
    margin-bottom: 15px;
}

body {
    direction: rtl;
}

.css-1w1rijm-MuiButtonBase-root-MuiButton-root {
    border-radius: 60px !important;
    font-size: 17px !important;
}

.css-1w1rijm-MuiButtonBase-root-MuiButton-root:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: rgba(41, 113, 184, 0.393) !important;
}

.nav {
    padding: 0 var(--bui_spacing_4x) var(--bui_spacing_2x);
    background-color: #003b95;
    color: black;
}

.a {
    background-color: #003b95;
}

.father {
    background-color: #003b95;
}

.san {
    padding-top: 21px;
    background-color: #006ce4;
}

.grand-child {
    margin: auto 0;
    max-width: 890px;
}

.header-navbar {
    background-color: #003b95;
    height: 130px;
}

.links-erea {
    color: white;
    bottom: 30px;
    position: relative;
}

.headers-erea {
    align-items: center;
    display: flex;
    background-color: #003b95;
    padding: 15px;
}

.ul-erea {
    overflow: hidden;
    white-space: nowrap;
}

.links-ul {
    -webkit-padding-start: 5px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.user-erea {
    color: #ffffff;
    /* margin-block-start: 10px;
    margin-inline-end: 10px;
    margin-inline-start: 3px; */
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin-right: 55vw;
}

.header {
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: 30px;
}

.summery {
    font-size: 19px;
    font-weight: 600;
    padding: 10px;
}

.not-constant {
    margin-right: 80vw;
}

a.activ {
    border: 2px solid;
}

.a {
    position: relative;
    /* border: 2px solid #00e7ff; */
}

.css-kpm0tx-MuiButtonBase-root-MuiButton-root {
    color: white !important;
    height: 50px !important;
}

.css-kpm0tx-MuiButtonBase-root-MuiButton-root:hover {
    background-color: rgba(41, 113, 184, 0.393) !important;

}

.b {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.c {
    fill: currentcolor;
    display: inline-block;
}

.e {
    fill: currentcolor;
    display: inline-flex;
    flex-shrink: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.f {
    fill: currentcolor;
    display: inline-block;
}